<style>
    /* https://github.com/lonekorean/gist-syntax-themes */
    @import url('/css/gist.css');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

    body {
        font: 16px 'Open Sans', sans-serif;
    }
    body .gist .gist-file {
        border-color: #555 #555 #444
    }
    body .gist .gist-data {
        border-color: #555
    }
    body .gist .gist-meta {
        color: #7f7f7f;
        background: #272822;
    }
    body .gist .gist-meta a {
        color: #7f7f7f
    }
    body .gist .gist-data .pl-s .pl-s1 {
        color: #a5c261
    }
</style>

<div class="highlight">
<script src="https://gist.github.com/{{ index .Params 0 }}/{{ index .Params 1 }}.js{{if len .Params | eq 3 }}?file={{ index .Params 2 }}{{end}}"></script>
</div>
